body,p,br,td,span {
	color:#202020;
	font-family: Î¢ÈíÑÅºÚ;
	font-size: 14px;
	line-height: 170%;
}
input,textarea,select,LEGEND,FIELDSET {
	font-family: Î¢ÈíÑÅºÚ;
	font-size: 12px;
	line-height: 160%;
}
FIELDSET {border: 1px solid #AAAAAA}
.16 {font-size: 16px;}
.14 {font-size: 14px;}
.13 {font-size: 13px;}
.9 {font-size: 12px;}
a {color:#202020; text-decoration: none}
a:hover {color:#E64F80;text-decoration: underline}
.hand {cursor:pointer;}
.tbhead { 
background-image:url('images/back1.jpg'); 
background-repeat: repeat-x;
background-position: top
} 
.tbleft { 
background-color: #EEEEEE;
background-image: url('images/bgnc.png');
background-repeat: no-repeat;
background-position:right bottom;
} 
.tbbottom {
background-attachment: scroll;
background-image: url('images/back2.jpg');
background-repeat: no-repeat;
background-position: center top;
font-size: 12px;
color: #888888
}
.tbcolor1 {background-color: #950040}
.tbcolor2 {background-color: #C70E5C}
.tbcolor3 {background-color: #E64F80}
.tbcolor4 {background-color: #FFFFFF}
.tbcolor5 {background-color: #FAF9E5}
.tbcolor6 {background-color: #F2F6F9}
.tbcolor7 {background-color: #E4D6E3}
.tbcolor8 {background-color: #ECE3EB}
.tbcolor9 {background-color: #E64F80}
.tbcolor10 {background-color: #F2F6F9}
.tbcolor11 {background-color: #CD699B}
.tbcolor12 {background-color: #FAF1F5}
.tbcolor13 {background-color: #CDDADE}
.tbcolor14 {background-color: #F3F3F5}

.fontcolor1 {color: #FFFFFF}
.fontcolor2 {color: #FFFFFF}
.fontcolor3 {color: #C70E5C}
.fontcolor4 {color: #FF3300}
.fontcolor5 {color: #888888}
.fontcolor6 {color: #008800}
.fontcolor7 {color: #CC0000}
.fontcolor8 {color: #DDDDDD}